
#heading{
  padding-top: 10px;
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;

}

body{
  margin: 0 0 0 0;

}



#menu{


  background-color: #111827;
  width:200px;
  height: 100%;

}


#menu.items{
  margin-left: 40px;
}
.lin{
  padding: 25px 25px;


}

.lin1{
  text-decoration: none;
  color: rgb(135, 141,151);
  font-weight: 300px;

}
.space{
height: 20px;
}

.profile{
  width: 30px;
  height: 30px;
}
section{
  display: flex;
}
.square{
  display:flex;
  height: 100%;
}
.card{

 width:150px;
 height:150px;
 display: inline-block;
 border-radius: 10px;
 padding: 15px 30px 25px 30px;
 border-sizing: border-box;
 cursor: pointer;
 margin: 10px 15px;

 background-position: center;
 background-size: cover;
transion:transform 0.5s;

}
 .dash{

 padding-left: 100px;

 }
 .i-name{
   padding-bottom: 20px:

 }


.act1{

  padding: 15px 100px 10px 100px;
  display: flex;


}
*{
  padding:0;
  margin:0;

}
.hd{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding-bottom: 10px;

}

h3{
  margin-left: 800px;
}
.container{
  margin-left: 0;
  margin-right: 0;
  border: 0;
}
.entire{
padding-left: 0;
padding-right: 0;
margin-right: 0;
}
.sec{
  padding-top: 30px;
}
.card:hover{
transform:  translateY(-10px);
}
